<ion-header>
  <ion-toolbar>
    <ion-title>Cadastro de Aluno</ion-title>
  </ion-toolbar>
</ion-header>
<ion-button href = "salvar-turma" color = "success">Salvar nova turma</ion-button>
<ion-button color="dark" expand="full" href = "listar-aluno">
  <ion-icon name="list-box"></ion-icon>Lista de Alunos
</ion-button>
<ion-content>
  <ion-card-content>
    <form #meuSonho='ngForm'>
      <ion-item>
        <ion-label position="floating">Nome*:</ion-label>
        <ion-input #nome='ngModel' name="nome" [(ngModel)]="aluno.nome" requiered></ion-input>
      </ion-item>
          </form>
    <ion-item>
      <ion-label position="floating">Turma*:</ion-label>
      <ion-select [(ngModel)]="aluno.turma">
        <ion-select-option *ngFor='let turma of listaTurma | async' [value]="turma">{{turma.ano}}</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-card-content>
  <ion-card>
    <span style='color:red' *ngIf="nome.errors && nome.touched">
      <ion-label>O nome é obrigatório! </ion-label>
    </span>
  </ion-card>

  <ion-button [disabled]='!meuSonho.form.valid' shape = "round" expand = "full" color="danger" (click)="salvar()"> salvar </ion-button>
</ion-content>
