<ion-header>
  <ion-toolbar>
    <ion-title>Autorizações</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-searchbar [(ngModel)]="valor" (ionChange)="filtrar()"></ion-searchbar>
  <ion-list>
    <ion-item *ngFor="let mensagem of listaFiltro">
      <ion-label><br><b>Responsável:</b><br>{{ mensagem.campo1 }}<br><br><b>Documento:</b> <br>{{mensagem.campo2}}<br><br>
        <b>Aluno(a):</b> <br>{{ mensagem.campo3 }}<br><br> <b>Matriculado(a):</b> <br>{{ mensagem.campo4 }}<br><br>
        <b>Motivo:</b> <br>{{ mensagem.campo5 }}<br><br> <b>Data:</b> <br>{{ mensagem.data }}<br><br>
        <b>Parentesco:</b> <br>{{ mensagem.parentesco }}<br><br> <b>Horário:</b> <br>{{ mensagem.horario }}<br><br></ion-label>
    </ion-item>
  </ion-list>

  <ion-tabs color = "black">
  <ion-tab-bar slot="bottom" color = "black">
    <ion-button expand = "full" color = "blank" href = "home">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>inicio</ion-label>
    </ion-button>

    <ion-button expand = "full" color = "blank" tab="speakers" href = "listar-aluno">
      <ion-icon name="contacts"></ion-icon>
      <ion-label>Alunos</ion-label>
    </ion-button>
  </ion-tab-bar>
</ion-tabs>
</ion-content>
<ion-footer>
</ion-footer>
