<ion-header>
  <ion-toolbar>
    <ion-title>
      Mensagens enviadas
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content >
  <ion-searchbar [(ngModel)]="valor" (ionChange)="filtrar()"></ion-searchbar>
  <ion-list>
    <ion-item *ngFor="let mensagem of listaFiltro">
      <ion-label>{{ mensagem.campo1 }}</ion-label>
      <ion-label> {{ mensagem.campo2 }}</ion-label>
      <ion-label>{{ mensagem.campo3 }}</ion-label>
      <ion-label>{{ mensagem.campo4 }}</ion-label>
      <ion-label>{{ mensagem.campo5 }}</ion-label>
      <ion-label>{{ mensagem.data }}</ion-label>
      <ion-label>{{ mensagem.horario }}</ion-label>
      <ion-label>{{ mensagem.parentesco }}</ion-label>
      <ion-label>{{ mensagem.campo6 }}</ion-label>
      <ion-button color="danger" (click)="excluir(mensagem.key)">
        <ion-icon name="trash"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>

  <ion-tabs color = "black">
  <ion-tab-bar slot="bottom" color = "black">
    <ion-button expand = "full" color = "blank" href = "home">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>inicio</ion-label>
    </ion-button>

    <ion-button expand = "full" color = "blank" tab="speakers" href = "listar-aluno">
      <ion-icon name="contacts"></ion-icon>
      <ion-label>Alunos</ion-label>
    </ion-button>
  </ion-tab-bar>
</ion-tabs>
</ion-content>
<ion-footer>
</ion-footer>
