<ion-header>
  <ion-toolbar>
    <ion-title>Início</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card-content>
    <ion-button color = "red" expand="full" shape="round" href = "inicio">Chat</ion-button>
    <ion-button color = "red" expand="full" shape="round" href = "salvar-med"><ion-icon name = "add"></ion-icon>Medicamentos</ion-button>
    <ion-button color = "red" expand="full" shape="round" href = "listar-med">Lista de medicamentos</ion-button>
    </ion-card-content>
</ion-content>
