<ion-header>
  <ion-toolbar>
    <ion-title>Estado</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card-content>
    <form #meuSonho='ngForm'>
      <ion-item>
        <ion-label position="floating">Nome*:</ion-label>
        <ion-input #nome = "ngModel" name="nome" [(ngModel)]="estado.nome" requiered></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Sigla*:</ion-label>
        <ion-input #sigla = "ngModel" [(ngModel)]="estado.sigla" requiered></ion-input>
      </ion-item>
    </form>
  </ion-card-content>
  <ion-card>
    <span style='color:red' *ngIf="nome.errors && nome.touched">
      <ion-label>O nome é obrigatório! </ion-label>
    </span>
    <span style='color:red' *ngIf="sigla.errors && sigla.touched">
      <ion-label>A sigla é obrigatória! </ion-label>
    </span>
  </ion-card>
  <ion-button [disabled]='!meuSonho.form.valid' expand="full" shape="round" (click)="salvar()">salvar</ion-button>
</ion-content>
