<ion-header>
  <ion-toolbar color = "success">
    <ion-title>
      Medicamentos
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content >
  <ion-searchbar [(ngModel)]="valor" (ionChange)="filtrar()"></ion-searchbar>
  <ion-list>
    <ion-item *ngFor="let med of listaFiltro">
      <ion-label><br><b>Nome:</b><br>{{ med.nome }}<br><br>
        <b>Endereço:</b> <br>{{ posto.end }}<br><br>
          <b>Quantidade:</b> <br>{{ med.quantidade }}</ion-label>
      <ion-button color="danger" (click)="excluir(med.key)">
        <ion-icon name="trash"></ion-icon>
      </ion-button><br><br>
      <ion-button color="success" (click)="alterar(med)">
        <ion-icon name="create"></ion-icon>
      </ion-button><br><br>
    </ion-item>
  </ion-list>

  <ion-tabs color = "dark">
    <ion-tab-bar slot="bottom" color = "dark">
      <ion-button expand = "full" color = "dark" href = "home">
        <ion-icon name="calendar"></ion-icon>
        <ion-label>deslogar</ion-label>
      </ion-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
<ion-footer>
</ion-footer>
