<ion-header>
  <ion-toolbar color = "success">
    <ion-title>
      CHAT
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-label color = "success">Grupos</ion-label>
  <ion-button color = "success" shape = "round"><ion-icon name="send"></ion-icon>enviar sms</ion-button>

  <ion-tabs color = "dark">
  <ion-tab-bar slot="bottom" color = "dark">
    <ion-button expand = "full" color = "dark" href = "home">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>deslogar</ion-label>
    </ion-button>

    <ion-button expand = "full" color = "dark" tab="speakers" href = "listar-aluno">
      <ion-icon name="contacts"></ion-icon>
      <ion-label>Alunos</ion-label>
    </ion-button>
  </ion-tab-bar>
</ion-tabs>
</ion-content>
