<ion-header>
  <ion-toolbar >
    <ion-title>
      Seja bem vindo!
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-img src="../../../assets/img/fundo.jpg"></ion-img>


  <ion-button shape="round" expand="full" color="success" href="login">login</ion-button>
  <ion-button shape="round" expand="full" color="success" href="salvar-pais">cadastro</ion-button>
  <ion-button shape="round" expand="full" color="success" href="salvar-cidade">cidade</ion-button>
  <ion-button shape="round" expand="full" color="success" href="salvar-estado">estado</ion-button>

</ion-content>
